In [71]:
import numpy as np
import pandas as pd
import seaborn as seaborn

from warnings import filterwarnings
filterwarnings('ignore')

In [73]:
cities = pd.read_csv("cities.csv")
cities.head()

,station_id,city_name,country,state,iso2,iso3,latitude,longitude
0,41515,Asadabad,Afghanistan,Kunar,AF,AFG,34.866000,71.150005
1,38954,Fayzabad,Afghanistan,Badakhshan,AF,AFG,37.129761,70.579247
2,41560,Jalalabad,Afghanistan,Nangarhar,AF,AFG,34.441527,70.436103
3,38947,Kunduz,Afghanistan,Kunduz,AF,AFG,36.727951,68.872530
4,38987,Qala i Naw,Afghanistan,Badghis,AF,AFG,34.983000,63.133300

In [75]:
countries = pd.read_csv("countries.csv")
countries.head()

,country,native_name,iso2,iso3,population,area,capital,capital_lat,capital_lng,region,continent
0,Afghanistan,ÿßŸÅÿ∫ÿßŸÜÿ≥ÿ™ÿßŸÜ,AF,AFG,26023100.0,652230.0,Kabul,34.526011,69.177684,Southern and Central Asia,Asia
1,Albania,Shqip√´ria,AL,ALB,2895947.0,28748.0,Tirana,41.326873,19.818791,Southern Europe,Europe
2,Algeria,ÿßŸÑÿ¨ÿ≤ÿßÿ¶ÿ±,DZ,DZA,38700000.0,2381741.0,Algiers,36.775361,3.060188,Northern Africa,Africa
3,American Samoa,American Samoa,AS,ASM,55519.0,199.0,Pago Pago,-14.275479,-170.704830,Polynesia,Oceania
4,Angola,Angola,AO,AGO,24383301.0,1246700.0,Luanda,-8.827270,13.243951,Central Africa,Africa

In [77]:
daily_weather = pd.read_parquet("daily_weather.parquet")
daily_weather.head()

,station_id,city_name,date,season,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh,peak_wind_gust_kmh,avg_sea_level_pres_hpa,sunshine_total_min
0,41515,Asadabad,1957-07-01,Summer,27.0,21.1,35.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,41515,Asadabad,1957-07-02,Summer,22.8,18.9,32.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,41515,Asadabad,1957-07-03,Summer,24.3,16.7,35.6,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,41515,Asadabad,1957-07-04,Summer,26.6,16.1,37.8,4.1,NaN,NaN,NaN,NaN,NaN,NaN
4,41515,Asadabad,1957-07-05,Summer,30.8,20.0,41.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
print("Countries Spalten:", countries.columns)
print("Cities Spalten:", cities.columns)
print("Weather Spalten:", daily_weather.columns)

Countries Spalten: Index(['country', 'native_name', 'iso2', 'iso3', 'population', 'area',
       'capital', 'capital_lat', 'capital_lng', 'region', 'continent'],
      dtype='object')
Cities Spalten: Index(['station_id', 'city_name', 'country', 'state', 'iso2', 'iso3',
       'latitude', 'longitude'],
      dtype='object')
Weather Spalten: Index(['station_id', 'city_name', 'date', 'season', 'avg_temp_c', 'min_temp_c',
       'max_temp_c', 'precipitation_mm'],
      dtype='object')

In [81]:
print("\nüìå Countries - Info:")
print(countries.info())

üìå Countries - Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      214 non-null    object
 1   native_name  213 non-null    object
 2   iso2         213 non-null    object
 3   iso3         214 non-null    object
 4   population   210 non-null    float64
 5   area         207 non-null    float64
 6   capital      212 non-null    object
 7   capital_lat  212 non-null    float64
 8   capital_lng  212 non-null    float64
 9   region       205 non-null    object
 10  continent    206 non-null    object
dtypes: float64(4), object(7)
memory usage: 18.5+ KB
None

In [83]:
print("\nüìå Cities - Info:")
print(cities.info())

üìå Cities - Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245 entries, 0 to 1244
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   station_id  1245 non-null   object
 1   city_name   1244 non-null   object
 2   country     1245 non-null   object
 3   state       1217 non-null   object
 4   iso2        1239 non-null   object
 5   iso3        1245 non-null   object
 6   latitude    1245 non-null   float64
 7   longitude   1245 non-null   float64
dtypes: float64(2), object(6)
memory usage: 77.9+ KB
None

In [85]:
print("\nüìå Weather - Info:")
print(daily_weather.info())

üìå Weather - Info:
<class 'pandas.core.frame.DataFrame'>
Index: 27635763 entries, 0 to 24220
Data columns (total 14 columns):
 #   Column                  Dtype
---  ------                  -----
 0   station_id              category
 1   city_name               category
 2   date                    datetime64[us]
 3   season                  category
 4   avg_temp_c              float64
 5   min_temp_c              float64
 6   max_temp_c              float64
 7   precipitation_mm        float64
 8   snow_depth_mm           float64
 9   avg_wind_dir_deg        float64
 10  avg_wind_speed_kmh      float64
 11  peak_wind_gust_kmh      float64
 12  avg_sea_level_pres_hpa  float64
 13  sunshine_total_min      float64
dtypes: category(3), datetime64[us](1), float64(10)
memory usage: 2.6 GB
None

In [87]:
print("\nüìå Countries")
print(countries.describe(include="all"))

üìå Countries
            country native_name iso2 iso3    population          area  \
count           214         213  213  214  2.100000e+02  2.070000e+02
unique          214         213  212  213           NaN           NaN
top     Afghanistan   ÿßŸÅÿ∫ÿßŸÜÿ≥ÿ™ÿßŸÜ   GB  GBR           NaN           NaN
freq              1           1    2    2           NaN           NaN
mean            NaN         NaN  NaN  NaN  3.365144e+07  6.537604e+05
std             NaN         NaN  NaN  NaN  1.330461e+08  1.866909e+06
min             NaN         NaN  NaN  NaN  3.000000e+01  2.020000e+00
25%             NaN         NaN  NaN  NaN  7.572605e+05  1.306600e+04
50%             NaN         NaN  NaN  NaN  6.315500e+06  1.098840e+05
75%             NaN         NaN  NaN  NaN  2.268378e+07  4.817710e+05
max             NaN         NaN  NaN  NaN  1.367110e+09  1.712444e+07

         capital  capital_lat  capital_lng          region continent
count        212   212.000000   212.000000             205       206
unique       211          NaN          NaN              24         7
top     Kingston          NaN          NaN  Eastern Africa    Africa
freq           2          NaN          NaN              19        53
mean         NaN    18.812330    16.545432             NaN       NaN
std          NaN    26.590545    69.625088             NaN       NaN
min          NaN   -54.283545  -176.174022             NaN       NaN
25%          NaN     2.874467   -13.375923             NaN       NaN
50%          NaN    18.025227    16.725786             NaN       NaN
75%          NaN    41.315970    47.637577             NaN       NaN
max          NaN    78.223156   179.118650             NaN       NaN

In [89]:
print("\nüìå Cities")
print(cities.describe(include="all"))

üìå Cities
       station_id    city_name country    state  iso2  iso3     latitude  \
count        1245         1244    1245     1217  1239  1245  1245.000000
unique       1227         1234     216     1149   215   216          NaN
top         78397  George Town  Russia  Unknown    RU   RUS          NaN
freq            2            2      77       32    77    77          NaN
mean          NaN          NaN     NaN      NaN   NaN   NaN    23.729983
std           NaN          NaN     NaN      NaN   NaN   NaN    25.996144
min           NaN          NaN     NaN      NaN   NaN   NaN   -54.790003
25%           NaN          NaN     NaN      NaN   NaN   NaN     8.099982
50%           NaN          NaN     NaN      NaN   NaN   NaN    31.611105
75%           NaN          NaN     NaN      NaN   NaN   NaN    43.699980
max           NaN          NaN     NaN      NaN   NaN   NaN    78.216684

          longitude
count   1245.000000
unique          NaN
top             NaN
freq            NaN
mean      20.782440
std       66.268905
min     -176.174022
25%       -6.755003
50%       23.237002
75%       63.628302
max      179.216647

In [91]:
print("\nüìå Weather")
print(daily_weather.describe())

üìå Weather
                             date    avg_temp_c    min_temp_c    max_temp_c  \
count                    27635763  2.140486e+07  2.191753e+07  2.209642e+07
mean   1982-11-29 10:03:03.195926  1.572252e+01  9.948255e+00  2.015998e+01
min           1750-02-01 00:00:00 -7.000000e+01 -9.900000e+01 -9.900000e+01
25%           1965-05-06 00:00:00  8.300000e+00  2.800000e+00  1.200000e+01
50%           1988-02-04 00:00:00  1.790000e+01  1.110000e+01  2.230000e+01
75%           2007-01-25 00:00:00  2.570000e+01  1.920000e+01  3.020000e+01
max           2023-09-05 00:00:00  5.040000e+01  6.420000e+01  9.700000e+01
std                           NaN  1.202205e+01  1.155787e+01  1.249478e+01

       precipitation_mm  snow_depth_mm  avg_wind_dir_deg  avg_wind_speed_kmh  \
count      2.099326e+07   3.427148e+06      3.452568e+06        5.285468e+06
mean       2.740569e+00   7.996231e+01      1.820979e+02        1.240827e+01
min        0.000000e+00   0.000000e+00      0.000000e+00        0.000000e+00
25%        0.000000e+00   0.000000e+00      8.600000e+01        7.500000e+00
50%        0.000000e+00   0.000000e+00      1.910000e+02        1.090000e+01
75%        1.000000e+00   2.000000e+01      2.710000e+02        1.570000e+01
max        1.000000e+03   9.710000e+03      3.600000e+02        1.763000e+02
std        9.791887e+00   3.500756e+02      1.051996e+02        7.054249e+00

       peak_wind_gust_kmh  avg_sea_level_pres_hpa  sunshine_total_min
count        1.121486e+06            4.017157e+06        1.021461e+06
mean         3.857887e+01            1.015032e+03        3.504399e+02
min          0.000000e+00            8.610000e+02        0.000000e+00
25%          2.630000e+01            1.010300e+03        5.400000e+01
50%          3.530000e+01            1.014700e+03        3.460000e+02
75%          4.640000e+01            1.019800e+03        5.940000e+02
max          4.392000e+02            5.852700e+03        1.302000e+03
std          2.010951e+01            8.520450e+00        2.815142e+02

In [92]:
print("\nüìå Countries fehlen werte:")
print(countries.isnull().sum())

print("\nüìå Cities fehlen werte:")
print(cities.isnull().sum())

print("\nüìå Weather fehlen werte:")
print(daily_weather.isnull().sum())

üìå Countries fehlen werte:
country        0
native_name    1
iso2           1
iso3           0
population     4
area           7
capital        2
capital_lat    2
capital_lng    2
region         9
continent      8
dtype: int64

üìå Cities fehlen werte:
station_id     0
city_name      1
country        0
state         28
iso2           6
iso3           0
latitude       0
longitude      0
dtype: int64

üìå Weather fehlen werte:
station_id                       0
city_name                    13993
date                             0
season                           0
avg_temp_c                 6230907
min_temp_c                 5718229
max_temp_c                 5539346
precipitation_mm           6642500
snow_depth_mm             24208615
avg_wind_dir_deg          24183195
avg_wind_speed_kmh        22350295
peak_wind_gust_kmh        26514277
avg_sea_level_pres_hpa    23618606
sunshine_total_min        26614302
dtype: int64

In [95]:
# iso2 eksik olan satƒ±rlarƒ± siliyoruz
countries = countries.dropna(subset=["iso2"])

# population ve area s√ºtunlarƒ±nƒ± median ile doldur
countries["population"].fillna(countries["population"].median(), inplace=True)
countries["area"].fillna(countries["area"].median(), inplace=True)

In [97]:
# iso2 ve city_name eksik olan satƒ±rlarƒ± siliyoruz
cities = cities.dropna(subset=["iso2", "city_name"])

In [99]:
# √áok fazla eksik verisi olan s√ºtunlarƒ± tamamen silelim
daily_weather.drop(columns=["snow_depth_mm", "avg_wind_dir_deg", 
                            "avg_wind_speed_kmh", "peak_wind_gust_kmh", 
                            "avg_sea_level_pres_hpa", "sunshine_total_min"], inplace=True)

# Eksik sƒ±caklƒ±k verilerini ortalama ile dolduralƒ±m
daily_weather["avg_temp_c"].fillna(daily_weather["avg_temp_c"].mean(), inplace=True)
daily_weather["min_temp_c"].fillna(daily_weather["min_temp_c"].mean(), inplace=True)
daily_weather["max_temp_c"].fillna(daily_weather["max_temp_c"].mean(), inplace=True)

In [101]:
# √úlke n√ºfusu eksik mi veya mantƒ±ksƒ±z (negatif mi?)
print("\nüìå Mantƒ±ksƒ±z √úlke N√ºfuslarƒ±:")
print(countries[countries["population"] <= 0])

# ≈ûehir koordinatlarƒ± doƒüru mu?
print("\nüìå Ge√ßersiz Koordinatlar:")
print(cities[(cities["latitude"] < -90) | (cities["latitude"] > 90) |
                (cities["longitude"] < -180) | (cities["longitude"] > 180)])

# Sƒ±caklƒ±k verilerinde tutarsƒ±zlƒ±k var mƒ±?
print("\nüìå Mantƒ±ksƒ±z Sƒ±caklƒ±k Deƒüerleri:")
print(daily_weather[(daily_weather["avg_temp_c"] < -100) | (daily_weather["avg_temp_c"] > 60)])

üìå Mantƒ±ksƒ±z √úlke N√ºfuslarƒ±:
Empty DataFrame
Columns: [country, native_name, iso2, iso3, population, area, capital, capital_lat, capital_lng, region, continent]
Index: []

üìå Ge√ßersiz Koordinatlar:
Empty DataFrame
Columns: [station_id, city_name, country, state, iso2, iso3, latitude, longitude]
Index: []

üìå Mantƒ±ksƒ±z Sƒ±caklƒ±k Deƒüerleri:
Empty DataFrame
Columns: [station_id, city_name, date, season, avg_temp_c, min_temp_c, max_temp_c, precipitation_mm]
Index: []

In [103]:
print("\nüìå Countries - Eksik Veri Kontrol√º:")
print(countries.isnull().sum())

print("\nüìå Cities - Eksik Veri Kontrol√º:")
print(cities.isnull().sum())

print("\nüìå Weather - Eksik Veri Kontrol√º:")
print(daily_weather.isnull().sum())

üìå Countries - Eksik Veri Kontrol√º:
country        0
native_name    1
iso2           0
iso3           0
population     0
area           0
capital        2
capital_lat    2
capital_lng    2
region         9
continent      8
dtype: int64

üìå Cities - Eksik Veri Kontrol√º:
station_id     0
city_name      0
country        0
state         28
iso2           0
iso3           0
latitude       0
longitude      0
dtype: int64

üìå Weather - Eksik Veri Kontrol√º:
station_id                0
city_name             13993
date                      0
season                    0
avg_temp_c                0
min_temp_c                0
max_temp_c                0
precipitation_mm    6642500
dtype: int64

In [105]:
# Eksik ba≈ükent bilgilerini "Bilinmiyor" olarak doldur
countries["capital"].fillna("Unbekannt", inplace=True)
countries["capital_lat"].fillna(0, inplace=True)
countries["capital_lng"].fillna(0, inplace=True)

In [107]:
# yagis √∂lc√ºlmemis yerleri mevsim ve sehir ortalamasi ile doldurduk ile doldurduk
daily_weather["precipitation_mm"] = daily_weather.groupby(["city_name", "season"])["precipitation_mm"].transform(lambda x: x.fillna(x.mean()))

In [109]:
print("\nüìå Weather - Eksik Veri Kontrol√º:")
print(daily_weather["precipitation_mm"].isnull().sum())  # 0 olmalƒ±!

üìå Weather - Eksik Veri Kontrol√º:
13993

In [111]:
print(daily_weather.columns)

Index(['station_id', 'city_name', 'date', 'season', 'avg_temp_c', 'min_temp_c',
       'max_temp_c', 'precipitation_mm'],
      dtype='object')

In [49]:
print("\nüìå Weather - Datum kontrol:")
print("En eski tarih:", daily_weather["date"].min())
print("En yeni tarih:", daily_weather["date"].max())

üìå Weather - Tarih Aralƒ±ƒüƒ±:
En eski tarih: 1750-02-01 00:00:00
En yeni tarih: 2023-09-05 00:00:00

In [121]:
cities.head()

,station_id,city_name,country,state,iso2,iso3,latitude,longitude
0,41515,Asadabad,Afghanistan,Kunar,AF,AFG,34.866000,71.150005
1,38954,Fayzabad,Afghanistan,Badakhshan,AF,AFG,37.129761,70.579247
2,41560,Jalalabad,Afghanistan,Nangarhar,AF,AFG,34.441527,70.436103
3,38947,Kunduz,Afghanistan,Kunduz,AF,AFG,36.727951,68.872530
4,38987,Qala i Naw,Afghanistan,Badghis,AF,AFG,34.983000,63.133300

In [133]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 213 entries, 0 to 213
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      213 non-null    object
 1   native_name  212 non-null    object
 2   iso2         213 non-null    object
 3   iso3         213 non-null    object
 4   population   213 non-null    float64
 5   area         213 non-null    float64
 6   capital      213 non-null    object
 7   capital_lat  213 non-null    float64
 8   capital_lng  213 non-null    float64
 9   region       204 non-null    object
 10  continent    205 non-null    object
dtypes: float64(4), object(7)
memory usage: 20.0+ KB

In [131]:
daily_weather.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27635763 entries, 0 to 24220
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   station_id        category
 1   city_name         category
 2   date              datetime64[us]
 3   season            category
 4   avg_temp_c        float64
 5   min_temp_c        float64
 6   max_temp_c        float64
 7   precipitation_mm  float64
dtypes: category(3), datetime64[us](1), float64(4)
memory usage: 1.4 GB