In [1]:
import numpy as np
import pandas as pd
import seaborn as seaborn

from warnings import filterwarnings
filterwarnings('ignore')

In [5]:
cities = pd.read_csv("cities.csv")
cities.head()

,station_id,city_name,country,state,iso2,iso3,latitude,longitude
0,41515,Asadabad,Afghanistan,Kunar,AF,AFG,34.866000,71.150005
1,38954,Fayzabad,Afghanistan,Badakhshan,AF,AFG,37.129761,70.579247
2,41560,Jalalabad,Afghanistan,Nangarhar,AF,AFG,34.441527,70.436103
3,38947,Kunduz,Afghanistan,Kunduz,AF,AFG,36.727951,68.872530
4,38987,Qala i Naw,Afghanistan,Badghis,AF,AFG,34.983000,63.133300

In [7]:
countries = pd.read_csv("countries.csv")
countries.head()

,country,native_name,iso2,iso3,population,area,capital,capital_lat,capital_lng,region,continent
0,Afghanistan,افغانستان,AF,AFG,26023100.0,652230.0,Kabul,34.526011,69.177684,Southern and Central Asia,Asia
1,Albania,Shqipëria,AL,ALB,2895947.0,28748.0,Tirana,41.326873,19.818791,Southern Europe,Europe
2,Algeria,الجزائر,DZ,DZA,38700000.0,2381741.0,Algiers,36.775361,3.060188,Northern Africa,Africa
3,American Samoa,American Samoa,AS,ASM,55519.0,199.0,Pago Pago,-14.275479,-170.704830,Polynesia,Oceania
4,Angola,Angola,AO,AGO,24383301.0,1246700.0,Luanda,-8.827270,13.243951,Central Africa,Africa

In [9]:
daily_weather = pd.read_parquet("daily_weather.parquet")
daily_weather.head()

,station_id,city_name,date,season,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh,peak_wind_gust_kmh,avg_sea_level_pres_hpa,sunshine_total_min
0,41515,Asadabad,1957-07-01,Summer,27.0,21.1,35.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,41515,Asadabad,1957-07-02,Summer,22.8,18.9,32.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,41515,Asadabad,1957-07-03,Summer,24.3,16.7,35.6,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,41515,Asadabad,1957-07-04,Summer,26.6,16.1,37.8,4.1,NaN,NaN,NaN,NaN,NaN,NaN
4,41515,Asadabad,1957-07-05,Summer,30.8,20.0,41.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
print("Countries Spalten:", countries.columns)
print("Cities Spalten:", cities.columns)
print("Weather Spalten:", daily_weather.columns)

Countries Spalten: Index(['country', 'native_name', 'iso2', 'iso3', 'population', 'area',
       'capital', 'capital_lat', 'capital_lng', 'region', 'continent'],
      dtype='object')
Cities Spalten: Index(['station_id', 'city_name', 'country', 'state', 'iso2', 'iso3',
       'latitude', 'longitude'],
      dtype='object')
Weather Spalten: Index(['station_id', 'city_name', 'date', 'season', 'avg_temp_c', 'min_temp_c',
       'max_temp_c', 'precipitation_mm', 'snow_depth_mm', 'avg_wind_dir_deg',
       'avg_wind_speed_kmh', 'peak_wind_gust_kmh', 'avg_sea_level_pres_hpa',
       'sunshine_total_min'],
      dtype='object')

In [13]:
print("\n📌 Countries - Info:")
print(countries.info())

📌 Countries - Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      214 non-null    object
 1   native_name  213 non-null    object
 2   iso2         213 non-null    object
 3   iso3         214 non-null    object
 4   population   210 non-null    float64
 5   area         207 non-null    float64
 6   capital      212 non-null    object
 7   capital_lat  212 non-null    float64
 8   capital_lng  212 non-null    float64
 9   region       205 non-null    object
 10  continent    206 non-null    object
dtypes: float64(4), object(7)
memory usage: 18.5+ KB
None

In [15]:
print("\n📌 Cities - Info:")
print(cities.info())

📌 Cities - Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245 entries, 0 to 1244
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   station_id  1245 non-null   object
 1   city_name   1244 non-null   object
 2   country     1245 non-null   object
 3   state       1217 non-null   object
 4   iso2        1239 non-null   object
 5   iso3        1245 non-null   object
 6   latitude    1245 non-null   float64
 7   longitude   1245 non-null   float64
dtypes: float64(2), object(6)
memory usage: 77.9+ KB
None

In [17]:
print("\n📌 Weather - Info:")
print(daily_weather.info())

📌 Weather - Info:
<class 'pandas.core.frame.DataFrame'>
Index: 27635763 entries, 0 to 24220
Data columns (total 14 columns):
 #   Column                  Dtype
---  ------                  -----
 0   station_id              category
 1   city_name               category
 2   date                    datetime64[us]
 3   season                  category
 4   avg_temp_c              float64
 5   min_temp_c              float64
 6   max_temp_c              float64
 7   precipitation_mm        float64
 8   snow_depth_mm           float64
 9   avg_wind_dir_deg        float64
 10  avg_wind_speed_kmh      float64
 11  peak_wind_gust_kmh      float64
 12  avg_sea_level_pres_hpa  float64
 13  sunshine_total_min      float64
dtypes: category(3), datetime64[us](1), float64(10)
memory usage: 2.6 GB
None